body {
  color: #2c2c2c;
}

.page-title {
  padding: 10px 0;
}

.page-title h1 {
  border-bottom: 1px solid #dfdfdf;
  padding: 0 0 10px;

  font-size: 30px;
  font-weight: 400;
}

p.title {
  font-weight: bold;
  margin-bottom: .5rem;
}

.list-group-item {
  border: 0;
  padding: .25rem .5rem;
}

.list-group-item:hover {
  background-color: #fff;
  color: #2c2c2c;
}

.card-title {
  font-size: .8rem;
}

.book-icon,
.ebook-icon,
.audiobook-icon {
  padding: 0 2px;
}

.book-icon svg,
.ebook-icon svg,
.audiobook-icon svg {
  width: 20px;
  fill: #999;
}

.book-icon.active svg,
.ebook-icon.active svg,
.audiobook-icon.active svg {
  fill: #0d5286;
}
