<span class="ebook-icon<%= active ? " active" : "" %>">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 470 470" style="enable-background:new 0 0 470 470;" xml:space="preserve">
    <g>
      <path d="M371.25,0H98.75c-20.678,0-37.5,16.822-37.5,37.5v395c0,20.678,16.822,37.5,37.5,37.5h272.5
        c20.678,0,37.5-16.822,37.5-37.5v-395C408.75,16.822,391.928,0,371.25,0z M393.75,432.5c0,12.407-10.094,22.5-22.5,22.5H98.75
        c-12.407,0-22.5-10.093-22.5-22.5v-395c0-12.407,10.093-22.5,22.5-22.5h272.5c12.406,0,22.5,10.093,22.5,22.5V432.5z"/>
      <path d="M371.263,30l-212.5-0.023c-4.143,0-7.5,3.357-7.501,7.499c0,4.142,3.357,7.5,7.499,7.501l205.001,0.022V395H106.239
        l0.023-350.023h22.5c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-30c-4.142,0-7.5,3.357-7.5,7.5L91.238,402.5
        c0,1.989,0.79,3.897,2.196,5.304c1.407,1.407,3.314,2.197,5.304,2.197h272.524c4.143,0,7.5-3.358,7.5-7.5v-365
        C378.762,33.358,375.405,30,371.263,30z"/>
      <path d="M250,425h-30c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h30c4.143,0,7.5-3.358,7.5-7.5S254.143,425,250,425z"/>
      <path d="M331.262,69.977h-192.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h192.5c4.143,0,7.5-3.358,7.5-7.5
        S335.405,69.977,331.262,69.977z"/>
      <path d="M331.262,105.604h-192.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h192.5c4.143,0,7.5-3.358,7.5-7.5
        S335.405,105.604,331.262,105.604z"/>
      <path d="M138.762,156.232h96.25c4.143,0,7.5-3.358,7.5-7.5s-3.357-7.5-7.5-7.5h-96.25c-4.142,0-7.5,3.358-7.5,7.5
        S134.62,156.232,138.762,156.232z"/>
      <path d="M331.262,176.86h-192.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h192.5c4.143,0,7.5-3.358,7.5-7.5
        S335.405,176.86,331.262,176.86z"/>
      <path d="M331.262,212.488h-192.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h192.5c4.143,0,7.5-3.358,7.5-7.5
        S335.405,212.488,331.262,212.488z"/>
      <path d="M331.262,248.116h-192.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h192.5c4.143,0,7.5-3.358,7.5-7.5
        S335.405,248.116,331.262,248.116z"/>
      <path d="M331.262,283.744h-192.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h192.5c4.143,0,7.5-3.358,7.5-7.5
        S335.405,283.744,331.262,283.744z"/>
      <path d="M338.762,326.872c0-4.142-3.357-7.5-7.5-7.5h-192.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h192.5
        C335.405,334.372,338.762,331.014,338.762,326.872z"/>
      <path d="M138.762,355c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h96.25c4.143,0,7.5-3.358,7.5-7.5s-3.357-7.5-7.5-7.5H138.762z"
        />
    </g>
  </svg>
</span>