---
title: Kursy - Książki i kursy
layout: course_layout
---

<div class="row">
  <% data.course_groups.each do |group| %>
    <div class="col-6 px-1 py-1">
      <div class="card">
        <%= link_to image_tag(group.image, class: "card-img-top"), "/courses/#{group.slug}.html" %>
        <div class="card-body">
          <h5 class="card-title text-center">
            <%= group.name %>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
