---
title: Książki i Kursy
---

<div class="row">
  <div class="col-6 px-1 py-1">
    <div class="card">
      <%= link_to image_tag("books.jpg", class: "card-img-top"), "/books.html" %>
      <div class="card-body">
        <h5 class="card-title text-center">
          Książki
        </h5>
      </div>
    </div>
  </div>
  <div class="col-6 px-1 py-1">
    <div class="card">
      <%= link_to image_tag("courses.jpg", class: "card-img-top"), "/course_groups.html" %>
      <div class="card-body">
        <h5 class="card-title text-center">
          Kursy
        </h5>
      </div>
    </div>
  </div>
</div>
